In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import numpy as np
import cv2

In [2]:
df = pd.read_csv("product_labels.csv")

In [3]:
df.head()

       filename  width  height  class  xmin  ymin  xmax  ymax
0   milk2_1.jpg    720    1280  mlik2   178   176   519  1086
1  milk2_10.jpg    720    1280  mlik2   239    84   570  1002
2  milk2_11.jpg    720    1280  mlik2   186    70   509   996
3  milk2_12.jpg    720    1280  mlik2   186    82   492   986
4  milk2_13.jpg    720    1280  mlik2   229    72   564   980

In [4]:
df["class"].value_counts()

mlik2     20
yogurt    20
milk      20
Name: class, dtype: int64

In [8]:
data = pd.DataFrame()
data['format'] = df['filename']

# as the images are in train_images folder, add train_images before the image name
for i in range(data.shape[0]):
    data['format'][i] = 'train/' + data['format'][i]

# add xmin, ymin, xmax, ymax and class as per the format required
for i in range(data.shape[0]):
    data['format'][i] = data['format'][i] + ',' + str(df['xmin'][i]) + ',' + str(df['ymin'][i]) + ',' + str(df['xmax'][i]) + ',' + str(df['ymax'][i]) + ',' + df['class'][i]

data.to_csv('annotate.txt', header=None, index=None, sep=' ')